<app-edit></app-edit>



<div class="col-md-10 offset-md-1 card card-body mt-3">
    <table class="table table-bordered table-hover table-striped">
        <thead style="background:rgb(245, 243, 243)">
            <td>Bus Name</td>
            <td>Bus Type</td>
            <td>Source</td>
            <td>Destination</td>
            <td>Active</td>
            <td>Depdarture Date</td>
            <td>Arrival Date</td>
            <td>Cost</td>
            <td>Available Seats</td>
            <td></td>
        </thead>
        <tbody>
            <tr *ngFor='let td of service.tripData'>
                <td >{{td.busname}}</td>
                <td >{{td.busType}}</td>
                <td >{{td.source}}</td>
                <td >{{td.destination}}</td>
                <td >{{td.isActive}}</td>
                <td >{{td.fromDatetime | date:'yyyy-MM-dd'}}</td>
                <td >{{td.toDatetime | date:'yyyy-MM-dd'}}</td>
                <td >{{td.cost}}</td>
                <td >{{td.availableSeats}}</td>
                <td >
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="populatetrip(td)">Edit</a>
                        </div>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<button class="btn btn-primary" (click)="transfer()">Back </button>
  <br>
  <br>