 
 <style> 
 .table{
    margin-top: 85px;
    font-family: "Open Sans", sans-serif;
 }

 </style>
 
 
 <div class="table table-borderless table-dark w-100 bg-dark">
    <br>
    <footer class="footer w-100">
        <div class="container w-100 bottom_border">
            <div class="row">

                

                <div class="col-md-3">
                    <h6 class="headin5_amrc col_white_amrc pt2" style="color: rgb(241, 122, 122)"><b>About Us</b></h6>
                    <p>This Bus Website is the world's largest online bus ticket booking service trusted by over 17 million happy customers globally.
                        Website,iOS and Android mobile apps for all major routes.</p>
                </div>

                <div class="col-md-3" style= "margin-left: 114px;">
                    <h6 class="headin5_amrc col_white_amrc pt2" style="color: rgb(241, 122, 122)"><b>Important Facts</b></h6>
                    <p>Terms Of Use
                        Privacy Policy
                        Cancelation Policy
                    </p>
                </div>

                
                
                <div class="col-md-3 "    style="margin-left: 114px;">
                    <h6 class="headin5_amrc col_white_amrc pt2" style="color: rgb(241, 122, 122)"><b>Contact Us</b></h6>
                    <p>Ph: +919883600000
                        For any Support or Complaints: Chat with Us
                        Support Time : 24*7
                        
                        For Press enquiries: press@ltibusservices.com
                        Only for Press/Media enquiries</p>
                </div>
            </div>
        </div>
    </footer>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3 " style="background-color: rgba(235, 106, 106, 0.981); ">
          © 2020 Copyright:
          <a class="text-dark " href="https://mdbootstrap.com/"><b>LTIBUS.com</b></a>
        </div>
        <!-- Copyright -->
      </footer>
</div>
